/* You can add global styles to this file, and also import other style files */
body {
	font-family: Helvetica, Arial, sans-serif;
	text-align:center;
	}
	
h1 	{
	font-family: 'Raleway', sans-serif;
	}

ul	{
	list-style-type:none;
	}
	
button{
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
	background-color:#33bdef;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
	font-weight:bold;
	padding:19px 76px;
	text-decoration:none;
	text-shadow:-2px 4px 2px #5b6178;
}

#header
    {   
     border:1px solid white;
     background-color:Aqua;
    }